*.txt filter=lfs diff=lfs merge=lfs -text
autoencoder_results filter=lfs diff=lfs merge=lfs -text
gmx_input.py filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
__pycache__ filter=lfs diff=lfs merge=lfs -text
auto_encoder_eval.py filter=lfs diff=lfs merge=lfs -text
auto_encoder_model.py filter=lfs diff=lfs merge=lfs -text
auto_encoder_train.py filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
log filter=lfs diff=lfs merge=lfs -text
notebook filter=lfs diff=lfs merge=lfs -text
